# Byte-compiled files
__pycache__/
*.py[cod]

# Mac files
.DS_Store

# venv
venv/
*~

# static files
static/

# ini file
env.sh


# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
