{% extends "base.html" %}

{% block content %}

<h4>Record Detail</h4><br>

<form class="form-horizontal" method="post">
  {% csrf_token %}
  <div class="form-group">
    <label class="control-label col-sm-2" for="name">Activity</label>
    <div class="col-sm-6">          
      <input type="text" class="form-control" id="name" name="name" value="{{event.activity.name}}" readonly>
    </div>
  </div>

  {% if event.activity.is_point %}
    <div class="form-group">
      <label class="control-label col-sm-2" for="start">Time</label>
      <div class="col-sm-6">          
        <input type="text" class="form-control" id="start" name="start" value="{{event.start_at}}">
      </div>
    </div>
  {% else %}
    <div class="form-group">
      <label class="control-label col-sm-2" for="start">Start at</label>
      <div class="col-sm-6">          
        <input type="text" class="form-control" id="start" name="start" value="{{event.start_at}}">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="end">End at</label>
      <div class="col-sm-6">          
        <input type="text" class="form-control" id="end" name="end" value="{{event.end_at}}">
      </div>
    </div>
  {% endif %}

  <div class="form-group">
    <label class="control-label col-sm-2" for="name">Data</label>
    <div class="col-sm-6">          
      <input type="text" class="form-control" id="data" name="data" value="{{event.data | default_if_none:''}}">
    </div>
  </div>

  <div class="form-group">        
    <div class="col-sm-offset-2 col-sm-5">
      <button type="submit" class="btn btn-default" formaction="{% url 'updateevent' event.id %}">Update</button>
    </div>
    <div class="col-sm-5">
      <button type="submit" class="btn btn-default" formaction="{% url 'deleteevent' event.id %}" onclick="return confirm('Are you sure to delete this records?')">Delete</button>
    </div>
  </div>
</form>


{% endblock %}